<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/main.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <script>
            src =
                "//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js";
        </script>
        <title>Portfolio</title>
    </head>
    <body>
        <div class="frame">
            <div class="main_frame">
                <!-- left frame -->
                <div class="left_frame">
                    <!-- Left-1: Profile info -->
                    <div class="left_1">
                        <div class="left1-img">
                            <img
                                src="images/profile.png"
                                width="156px"
                                height="142px"
                                alt=""
                            />
                        </div>
                        <div class="left1-name"><%=user.name%></div>
                        <div class="left1-job"><%=user.profession%></div>
                        <div class="left1-icons">
                            <a class="link_href" href="">
                                <div class="icon">
                                    <img
                                        src="icon/Facebook.svg"
                                        class="icon-1"
                                    />
                                </div>
                            </a>
                            <a class="link_href" href="">
                                <div class="icon">
                                    <img
                                        src="icon/Instagram.svg"
                                        class="icon-1"
                                    />
                                </div>
                            </a>
                            <a class="link_href" href="">
                                <div class="icon">
                                    <img
                                        src="icon/Twitter.svg"
                                        class="icon-1"
                                    />
                                </div>
                            </a>
                            <a class="link_href" href="">
                                <div class="icon">
                                    <img
                                        src="icon/Linkeding.svg"
                                        class="icon-1"
                                    />
                                </div>
                            </a>
                            <a class="link_href" href="">
                                <div class="icon">
                                    <img
                                        src="icon/Youtube.svg"
                                        class="icon-1"
                                    />
                                </div>
                            </a>
                            <a class="link_href" href="">
                                <div class="icon">
                                    <img
                                        src="icon/Dribbble.svg"
                                        class="icon-1"
                                    />
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="marginer"></div>

                    <!-- Left-2: Basic info -->
                    <div class="left_2">
                        <div class="left2_basic">
                            <div class="basic-1-1">Age:</div>
                            <div class="basic-1-2"><%=user.age%></div>
                        </div>
                        <div class="left2_basic">
                            <div class="basic-2-1">Residence:</div>
                            <div class="basic-2-2"><%=user.residence%></div>
                        </div>
                        <div class="left2_basic">
                            <div class="basic-3-1">Freelance:</div>
                            <div class="basic-3-2">Available</div>
                        </div>
                        <div class="left2_basic">
                            <div class="basic-4-1">Address:</div>
                            <div class="basic-4-2"><%=user.address%></div>
                        </div>
                    </div>
                    <div class="marginer"></div>
                    <!-- Left-3: Languages -->
                    <div class="left_3">
                        <div class="languages_skills">Languages</div>
                        <div class="lang_sk">
                            <div class="lang-sk-1"><%=user.languages[0]%></div>
                            <div class="lang-sk-2">100%</div>
                        </div>
                        <div class="lang_sk_border">
                            <div class="perc-1"></div>
                        </div>
                        <div class="lang_sk">
                            <div class="lang-sk-1"><%=user.languages[1]%></div>
                            <div class="lang-sk-2">80%</div>
                        </div>
                        <div class="lang_sk_border">
                            <div class="perc-2"></div>
                        </div>
                        <div class="lang_sk">
                            <div class="lang-sk-1"><%=user.languages[2]%></div>
                            <div class="lang-sk-2">60%</div>
                        </div>
                        <div class="lang_sk_border">
                            <div class="perc-3"></div>
                        </div>
                    </div>
                    <div class="marginer"></div>

                    <!-- Left-4: Skills -->
                    <div class="left_4">
                        <div class="languages_skills">Skills</div>
                        <div class="lang_sk">
                            <div class="lang-sk-1"><%=user.skills[0]%></div>
                            <div class="lang-sk-2">90%</div>
                        </div>
                        <div class="lang_sk_border">
                            <div class="percent-1"></div>
                        </div>
                        <div class="lang_sk">
                            <div class="lang-sk-1"><%=user.skills[1]%></div>
                            <div class="lang-sk-2">85%</div>
                        </div>
                        <div class="lang_sk_border">
                            <div class="percent-2"></div>
                        </div>
                        <div class="lang_sk">
                            <div class="lang-sk-1"><%=user.skills[2]%></div>
                            <div class="lang-sk-2">80%</div>
                        </div>
                        <div class="lang_sk_border">
                            <div class="percent-3"></div>
                        </div>
                        <div class="lang_sk">
                            <div class="lang-sk-1"><%=user.skills[3]%></div>
                            <div class="lang-sk-2">75%</div>
                        </div>
                        <div class="lang_sk_border">
                            <div class="percent-4"></div>
                        </div>
                        <div class="lang_sk">
                            <div class="lang-sk-1"><%=user.skills[4]%></div>
                            <div class="lang-sk-2">85%</div>
                        </div>
                        <div class="lang_sk_border">
                            <div class="percent-5"></div>
                        </div>
                    </div>
                    <div class="marginer"></div>

                    <!-- Left-4: Extra Skills -->
                    <div class="left_5">
                        <div class="ex_skills">Extra Skills</div>
                        <div class="ex_skill_text">
                            <div class="border">
                                <div class="border-1"></div>
                                <div class="border-2"></div>
                            </div>
                            <div class="text"><%=user.extra_skills[0]%></div>
                        </div>
                        <div class="ex_skill_text">
                            <div class="border">
                                <div class="border-1"></div>
                                <div class="border-2"></div>
                            </div>
                            <div class="text"><%=user.extra_skills[1]%></div>
                        </div>
                        <div class="ex_skill_text">
                            <div class="border">
                                <div class="border-1"></div>
                                <div class="border-2"></div>
                            </div>
                            <div class="text"><%=user.extra_skills[2]%></div>
                        </div>
                        <div class="ex_skill_text">
                            <div class="border">
                                <div class="border-1"></div>
                                <div class="border-2"></div>
                            </div>
                            <div class="text"><%=user.extra_skills[3]%></div>
                        </div>
                    </div>
                    <div class="marginer"></div>
                </div>
                <!-- End Left Frame -->

                <!-- Middle Frame -->
                <div class="midd_frame">
                    <div class="midd_top">
                        <div class="mtop_div">
                            <div class="mtop_frame">
                                <!-- Dot -->
                                <div class="dot1"></div>
                                <div class="dot2"></div>
                                <div class="dot3"></div>
                                <div class="dot4"></div>
                                <div class="dot5"></div>
                                <div class="dot6"></div>
                                <div class="dot7"></div>
                                <!-- End Dot -->
                                <div class="mtop_main_text">
                                    <%=user.profession%> in <%=user.work_place%>
                                </div>
                                <div class="mtop_text"><%=user.about_me%></div>
                                <a class="link_href" href="">
                                    <div class="mtop_btn">
                                        <div class="btn_text"></div>
                                        <div class="btn_icon">
                                            <img
                                                src="btn_icon/hire_me.png"
                                                alt=""
                                            />
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="mtop_img">
                                <img src="images/image.png" alt="" />
                            </div>
                        </div>
                    </div>
                    <!-- End Midd top  -->

                    <!-- Midd bottom -->
                    <div class="midd_bot">
                        <div class="mbot_main_text">My Services</div>
                        <div class="mbot_text"><%=user.service_desk%></div>
                        <div class="midd_boxes">
                            <div class="boxes">
                                <div class="box">
                                    <div class="box-img">
                                        <img src="box_images/ser1.svg" alt="" />
                                    </div>
                                    <div class="box-main-text">
                                        Web Development
                                    </div>
                                    <div class="box-text">BLog, E-commerce</div>
                                </div>
                            </div>
                            <div class="boxes">
                                <div class="box">
                                    <div class="box-img">
                                        <img src="box_images/ser2.png" alt="" />
                                    </div>
                                    <div class="box-main-text">
                                        UI/UX Design
                                    </div>
                                    <div class="box-text">
                                        Mobile App, Website Design
                                    </div>
                                </div>
                            </div>
                            <div class="boxes">
                                <div class="box">
                                    <div class="box-img">
                                        <img src="box_images/ser3.svg" alt="" />
                                    </div>
                                    <div class="box-main-text">
                                        Sound Desigin
                                    </div>
                                    <div class="box-text">
                                        Voice Over, Beat Making
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="midd_boxes">
                            <div class="boxes">
                                <div class="box">
                                    <div class="box-img">
                                        <img src="box_images/ser4.svg" alt="" />
                                    </div>
                                    <div class="box-main-text">
                                        Mobile App Design
                                    </div>
                                    <div class="box-text">
                                        Character Design, Back End
                                    </div>
                                </div>
                            </div>
                            <div class="boxes">
                                <div class="box">
                                    <div class="box-img">
                                        <img src="box_images/ser5.svg" alt="" />
                                    </div>
                                    <div class="box-main-text">Photography</div>
                                    <div class="box-text">
                                        Portrait, Product PhotoGraphy
                                    </div>
                                </div>
                            </div>
                            <div class="boxes">
                                <div class="box">
                                    <div class="end-box-main-text">
                                        Advertising
                                    </div>
                                    <div class="end-box-text">
                                        orem Ipsum is simply dummy text of the
                                        printing and typesetting industry
                                        typesetting industry industry.
                                    </div>
                                    <a class="link_href" href="">
                                        <div class="end-box-link">
                                            <div>Order Now</div>
                                            <div>
                                                <img
                                                    class="end-box-icon"
                                                    src="box_images/order22.png"
                                                    alt=""
                                                />
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Midd bottom -->
                </div>
                <!-- End Middle Frame -->

                <!-- Right Frame -->
                <div class="right_frame">
                    <a href="">
                        <div class="vector">
                            <img src="menu_icons/dark_mode.svg" alt="" />
                        </div>
                    </a>

                    <div class="menu">
                        <a class="link_href" href="">
                            <div class="menu_icon_border">
                                <span class="tooltip">Home</span>
                                <img src="menu_icons/up.png" />
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="menu_icon_border">
                                <span class="tooltip">coding</span>
                                <img src="menu_icons/service.svg" alt="" />
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="menu_icon_border">
                                <span class="tooltip">users</span>
                                <img src="menu_icons/cv.svg" alt="" />
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="menu_icon_border">
                                <span class="tooltip">store</span>
                                <img src="menu_icons/portfolio.svg" alt="" />
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="menu_icon_border">
                                <span class="tooltip">article</span>
                                <img src="menu_icons/blog.svg" alt="" />
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="menu_icon_border">
                                <span class="tooltip">chat</span>
                                <img src="menu_icons/contact.svg" alt="" />
                            </div>
                        </a>
                    </div>
                </div>
                <!-- End Right Frame -->
            </div>
        </div>
    </body>
</html>
